:root {
  --datatable-bgcolor: rgba(64, 76, 88, 0.8);
}
html {
  background-color: #353c42;
}

body {
  background-image: url("./background.png");
  background-repeat: repeat;
  background-attachment:fixed;
  color: #4A4B50;
  background-color: transparent;
}
h4 {
  color: #00B0B3;
}
.content-header > .breadcrumb > li > a {
  color: #4A4B50;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 0;
}
.table > thead > tr.odd,
.table > tbody > tr.odd,
.table > tfoot > tr.odd {
  background-color: rgba(255, 255, 255, 0.3);
}
.table > thead > tr.odd:hover,
.table > tbody > tr.odd:hover,
.table > tfoot > tr.odd:hover,
.table > thead > tr.even:hover,
.table > tbody > tr.even:hover,
.table > tfoot > tr.even:hover {
  background-color: #1e2226;
}
.table-bordered,
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #d2d6de;
}
.dataTables_wrapper input[type="search"] {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0;
  color: #4A4B50;
}
.dataTables_paginate .pagination li > a {
  background-color: rgba(255, 255, 255, 0.3);
  border-color: #d2d6de;
}
.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
  cursor: not-allowed;
  color: #4A4B50;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #d2d6de;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  z-index: 2;
  color: #4A4B50;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #54606b;
}
.wrapper,
.main-sidebar,
.left-side {
  /* background-color: #272c30; */
}
.user-panel > .info,
.user-panel > .info > a {
  color: #fff;
}
.sidebar-menu > li.header {
  color: #556068;
  /* background-color: #1e2225; */
}
.sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.sidebar-menu > li:hover > a,
.sidebar-menu > li > a:focus,
.sidebar-menu > li.active > a {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #3c8dbc;
}
.sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  /* background-color: #32393e; */
}
.sidebar a {
  color: #4A4B50;
}
.sidebar a:hover {
  text-decoration: none;
}
.treeview-menu > li > a {
  color: #949fa8;
}
.treeview-menu > li.active > a,
.treeview-menu > li > a:hover,
.treeview-menu > li > a:focus {
  color: #fff;
}
.sidebar-form {
  border-radius: 3px;
  border: 1px solid #3e464c;
  margin: 10px;
}
.sidebar-form input[type="text"],
.sidebar-form .btn {
  box-shadow: none;
  background-color: #3e464c;
  border: 1px solid transparent;
  height: 35px;
}
.sidebar-form input[type="text"] {
  color: #4A4B50 !important;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.sidebar-form input[type="text"]:focus,
.sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  color: #4A4B50 !important;
}
.sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.sidebar-form .btn {
  color: #4A4B50 !important;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.box,
.box-footer,
.info-box,
.box-comment,
.comment-text,
.comment-text .username {
  color: #4A4B50;
  background-color: #272c30;
}
/*.box-comments .box-comment {
  border-bottom-color: #353c42;
}*/
/*.box-footer {
  border-top: 1px solid #353c42;
}*/
/*.box-header.with-border {
  border-bottom: 1px solid #353c42;
}*/
.box-solid,
.box {
  border: 1px solid #ffffff;
}
.box-solid > .box-header,
.box > .box-header {
  color: #4A4B50;
}
.box-solid > .box-header .btn,
.box > .box-header .btn {
  color: #4A4B50;
}
.box.box-info,
.box.box-primary,
.box.box-success,
.box.box-warning,
.box.box-danger {
  border-top-width: 3px;
}
.main-header .navbar {
  background-color: #272c30;
}
.main-header .navbar .nav > li > a,
.main-header .navbar .nav > li > .navbar-text {
  color: #4A4B50;
  max-height: 50px;
}
.main-header .navbar .nav > li > a:hover,
.main-header .navbar .nav > li > a:active,
.main-header .navbar .nav > li > a:focus,
.main-header .navbar .nav .open > a,
.main-header .navbar .nav .open > a:hover,
.main-header .navbar .nav .open > a:focus,
.main-header .navbar .nav > .active > a {
  background-color: rgba(255, 255, 255, 0.1);
  color: #f6f6f6;
}
.main-header .navbar .sidebar-toggle {
  color: #4A4B50;
}
.main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background-color: rgba(255, 255, 255, 0.1);
}
.timeline li .timeline-item {
  color: #4A4B50;
  background-color: #272c30;
  border-color: #353c42;
}
.timeline li .timeline-header {
  border-bottom-color: #353c42;
}
.nav-stacked > li > a {
  color: #4A4B50;
}
.nav-stacked > li > a:hover {
  color: white;
  background-color: #1e2226;
}
.content-wrapper,
.right-side {
  background-color: #353c42;
}
.main-footer,
.nav-tabs-custom {
  border-top-color: #353c42;
  color: #4A4B50;
}
/*.main-footer .nav-tabs,
.nav-tabs-custom .nav-tabs {
  border-bottom-color: #2f363b;
}*/
/* .main-footer .tab-content, .tab-content {
  background-color: #d2d6de;
} */
/* .nav-tabs-custom > .nav-tabs {
  background: rgba(64, 72, 80, 0.666);
} */
.nav-tabs-custom > .nav-tabs > li {
  margin-right: 1px;
  color: #4A4B50;
}
.nav-tabs-custom > .nav-tabs > li.active > a,
.nav-tabs-custom > .nav-tabs > li.active:hover > a {
  border-left-color: #d2d6de;
  border-right-color: #d2d6de;
  /* background-color: rgba(255, 255, 255, 0.3); */
  color: #4A4B50;
}
.nav-tabs-custom > .nav-tabs > li:not(.active):hover {
  border-top-color: #d2d6de;
  background-color: transparent;
}
.nav-tabs-custom > .nav-tabs > li > a {
  color: #666B72;
}
.nav-tabs-custom > .nav-tabs > li > a:focus {
  color: #3c8dbc;
}
.nav-tabs-custom > .nav-tabs > li:hover > a,
.nav-tabs-custom > .nav-tabs > li.active:hover > a {
  /* background-color: #353c42; */
  color: #4A4B50;
}

.list-group {
  color: #4A4B50;
  background-color: #272c30;
}
.list-group .list-group-item {
  border-color: #353c42;
  background-color: #272c30;
}
.input-group .input-group-addon {
  border-right: 1px solid #272c30;
}
.select2 .select2-selection {
  background-color: #353c42;
  color: #4A4B50;
  border: 1px solid #353c42;
}
.select2 .select2-selection .select2-container--default,
.select2 .select2-selection .select2-selection--single,
.select2 .select2-selection .select2-selection--multiple,
.select2 .select2-selection .select2-selection__rendered {
  color: #4A4B50;
}
.select2-dropdown {
  background-color: #353c42;
  color: #4A4B50;
  border: 1px solid #353c42;
}
.select2-dropdown .select2-search__field {
  background-color: #272c30;
  color: #4A4B50;
  border: 1px solid #353c42;
}
.select2-container--default.select2-container--open {
  background-color: #272c30;
}
/* 
.layout-boxed {
  background: url("../../img/boxed-bg-dark.png") repeat fixed;
} */
.not-used {
  background-color: #eee;
}
.not-used:hover {
  background-color: #c5c5c5;
}
.used {
  background-color: #fff;
}
.used:hover {
  background-color: #ddd;
}
.graphs-grid {
  background-color: rgba(255, 255, 255, 0.2);
}
.graphs-ticks {
  color: #b8c7ce;
}
.queries-permitted {
  background-color: #00a65a;
}
.queries-blocked {
  background-color: #999;
}
.progress {
  background-color: #333;
}
.bg-green {
  background-color: #00a65a !important;
}
.bg-aqua {
  background-color: #00c0ef !important;
}
.bg-yellow {
  background-color: #f39c12 !important;
}
.bg-red {
  background-color: #dd4b39 !important;
}

code,
pre {
  padding: 2px 4px;
  font-size: 90%;
  color: #4A4B50;
  background-color: #353c42;
  border-radius: 4px;
}

/* Used in the Query Log table */
.text-green-light {
  color: #5ca314 !important;
}
.text-green {
  color: #00aa60 !important;
}
.text-orange {
  color: #b1720c !important;
}
.text-red {
  color: #bd2c19 !important;
}
.text-vivid-blue {
  color: #007997 !important;
}
td.highlight {
  background-color: rgba(255, 204, 0, 0.333);
}
.btn-default {
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: #4A4B50;
  border: 1px solid #d2d6de;
}

/* Used in debug log page */
.log-red {
  color: #ff4038;
}
.log-green {
  color: #4c4;
}
.log-yellow {
  color: #fb0;
}
.log-blue {
  color: #48f;
}
.log-purple {
  color: #b8e;
}
.log-cyan {
  color: #0df;
}
.log-gray {
  color: #999;
}

#output {
  border-color: #505458;
  background: #272c30;
}

/* Used by the long-term pages */
.daterangepicker {
  background-color: #3e464c;
  border-radius: 4px;
  border: 1px solid #353c42;
}
.daterangepicker .ranges li:hover {
  background-color: #353c42;
}
.daterangepicker .ranges li.active {
  background-color: #1e2226; /* Color also used in table pagination */
}
.daterangepicker .calendar-table {
  background-color: #3e464c;
  border-radius: 4px;
  border: 1px solid #353c42;
}
.daterangepicker td.off,
.daterangepicker td.off.in-range,
.daterangepicker td.off.start-date,
.daterangepicker td.off.end-date {
  background-color: #485158;
}
.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
  background-color: #1e2226;
}
.daterangepicker td.active,
.daterangepicker td.active:hover,
.daterangepicker td.in-range:hover {
  background-color: #225e92;
}
.daterangepicker td.in-range {
  background-color: #1e2226;
  color: #4A4B50;
}
input,
select,
select.form-control,
.form-group .input-group-addon,
.input-group .input-group-addon,
.form-group input,
.input-group input,
.form-group textarea,
.input-group textarea,
.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect,
.daterangepicker select.ampmselect,
.form-control,
div.dataTables_wrapper div.dataTables_length select {
  background-color: rgba(255, 255, 255, 0.3);
  color: #4A4B50;
/*  border: 1px solid #3d444b;*/
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}
.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
  color: #4A4B50;
  border: 1px solid #171c20;
}
.table-striped > tbody > tr:nth-of-type(2n + 1) {
  background-color: rgba(255, 255, 255, 0.3);
}
.panel,
.panel-body,
.panel-default > .panel-heading {
  background-color: transparent;
  border: none;
  border-radius: 10px !important;
  color: #4A4B50;
}
.box.box-solid.box-info,
.box.box-solid.box-info > .box-header {
  color: #4A4B50;
  background-color: #367fa9 !important;
  border: 1px solid #367fa9;
}
input[type="password"]::-webkit-credentials-auto-fill-button {
  background: #bfc5ca;
}
input[type="password"]::-webkit-caps-lock-indicator {
  filter: invert(100%);
}

.network-never {
  background-color: #661b02;
}
.network-recent {
  background-color: #114100;
}
.network-old {
  background-color: #525200;
}
.network-older {
  background-color: #502b00;
}
.network-gradient {
  background-image: linear-gradient(to right, #114100 0%, #525200 100%);
}

.icheckbox_polaris,
.icheckbox_futurico,
.icheckbox_minimal-blue {
  margin-right: 10px;
}
.iradio_polaris,
.iradio_futurico,
.iradio_minimal-blue {
  margin-right: 8px;
}

/* Overlay box with spinners as shown during data collection for graphs */
.box .overlay,
.overlay-wrapper .overlay {
  z-index: 50;
  background-color: rgba(53, 60, 66, 0.733);
  border-radius: 3px;
}
.box .overlay > .fa,
.overlay-wrapper .overlay > .fa,
.navbar-nav > .user-menu > .dropdown-menu > .user-body a {
  color: #bec5cb !important;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
  padding: 10px;
}

.modal-content {
  background: #272c30;
}
.modal-header {
  border-bottom-color: #353c42;
}
.modal-footer {
  border-top-color: #353c42;
}
.close {
  color: #383838;
}

/*** Fix login input visual misalignment ***/
#loginform,
#loginform input {
  color: rgb(120, 127, 133);
}

.login-options input,
.login-options [class*="icheck-"] > input:first-child + input[type="hidden"] + label::before,
.login-options [class*="icheck-"] > input:first-child + label::before {
  background: none;
  border-color: rgb(120, 127, 133);
}

/*** Additional fixes For Pi.Alert UI ***/
.bg-gray {
  background-color: #888888 !important;
}
.badge.bg-green {
    background-color: #00A000 !important;
}
.badge.bg-gray {
    background-color: #888 !important;
}
#txtRecord {
  background-color: #353c42;
  border-color: #888888;
}
#txtRecord_down {
  background-color: #353c42;
  border-color: #888888;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgb(189,192,198);
  color: #444;
}

.db_info_table_cell:nth-child(1) {background-color: transparent}
.db_info_table_cell:nth-child(2) {background-color: transparent}
.db_tools_table_cell_a:nth-child(1) {background-color: transparent}
.db_tools_table_cell_a:nth-child(2) {background-color: transparent}
.db_tools_table_cell_b:nth-child(1) {background-color: transparent}
.db_tools_table_cell_b:nth-child(2) {background-color: transparent}

.db_info_table { 
   display: table;
   border-spacing: 0em;
   font-weight: 400;
   font-size: 15px;
   width: 100%;
   margin: auto;
}

.nav-tabs-custom > .nav-tabs > li:hover > a, .nav-tabs-custom > .nav-tabs > li.active:hover > a {
  background-color: rgba(255, 255, 255, 0.3);
  color: #4A4B50;
}

.nav-tabs-custom > .nav-tabs > li.active > a {
  border-left-color: #d2d6de;
  border-right-color: #d2d6de;
  background-color: rgba(255, 255, 255, 0.3);
  color: #4A4B50;
}
.nav-tabs-custom > .nav-tabs {
  background-color: rgba(255, 255, 255, 0.3);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.nav-tabs-custom .tab-content {
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.top_small_box_gray_text {
  color: white !important;
}

/* remove white border that appears on mobile screen sizes */
.box-body {
    border: 0px;
}
/* remove white border that appears on mobile screen sizes */
.table-responsive {
  border: 0px;
}
.login-page {
  background-color: transparent;
}
.login-logo a {
  color: white;
}
.login-box-body {
  color: #4A4B50;
  background-color: #272c30;
}
#modal-warning-title {
  color: #fff;
}
.skin-blue .sidebar-menu>li.active>a {
 background-color: rgba(255, 255, 255, 0.3);
 border-left-color: #3c8dbc;
}
.skin-blue .sidebar-menu>li:hover>a,
.skin-blue .sidebar-menu>li.active>a,
.skin-blue .sidebar-menu>li.menu-open>a {
 color:#fff;
 background-color: rgba(255, 255, 255, 0.3);
 border-left-color: #3c8dbc;
}
.skin-blue .sidebar-menu > li.header {
  color: #6c7477;
  background-color: rgba(255, 255, 255, 0.5);
}
#custom-menu-default-button { color: #fff;}
#custom-menu-default-button:hover { color: #000;}
.systemstatusbox { color: #4A4B50 !important;}
.panel { 
  background-color: rgba(255, 255, 255, 0.3) !important; 
}
.help_table_gen {border: solid 1px #666;}
.help_table_gen_a {border: solid 1px #666;}
.help_table_gen_b {border: solid 1px #666;}
.help_table_gen_section {border: solid 1px #666; background-color: #1a2226;}
.wrapper, .main-sidebar, .left-side, .main-footer, .skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side, .content-wrapper, .skin-blue .main-header li.user-header {
  background-color: transparent;
}
.skin-blue .main-header .logo , .skin-blue .main-header .logo:hover, .skin-blue .main-header .navbar { background-color: rgba(255, 255, 255, 0.5);}
.navbar-custom-menu > .navbar-nav > li > .dropdown-menu { background-color: rgba(30, 30, 40, 1);}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer { background-color: transparent;}
.skin-blue .main-header .navbar .sidebar-toggle:hover { background-color: rgba(255, 255, 255, 0.1);}
.box {
  box-shadow: none;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.3);
  border-radius: 10px;
}
.sidebar { background-color: rgba(255,255,255,0.3); border-bottom-right-radius: 15px;}
#Darkmode_button_container {display: none; }
.fc-sat, .fc-sun, .fc-widget-header { background-color: rgba(255, 255, 255, 0.3) !important;}
.fc-today {background-color: rgba(0, 180, 0, 0.3) !important;}
#btnPrevious, #btnNext, #txtRecord, #btnPrevious_down, #btnNext_down, #txtRecord_down { background-color: rgba(255, 255, 255, 0.5);}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #353c42;
}
.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
  border-color: #888 !important;
}
.main-footer { border: none;}
.small-box {border-radius: 10px;opacity: 0.8;}
.skin-blue .sidebar a {
  color: #4A4B50;
}
.dataTables_info, .dataTables_paginate, .dataTables_length, .dataTables_filter {
  color: #4A4B50;
}
