/* -----------------------------------------------------------------------------
#  Pi.Alert
#  Open Source Network Guard / WIFI & LAN intrusion detector 
#
#  pialert.css - Front module. CSS styles
#-------------------------------------------------------------------------------
#  Puche 2021        pi.alert.application@gmail.com        GNU GPLv3
#  leiweibau 2023                                          GNU GPLv3
----------------------------------------------------------------------------- */

/* -----------------  Global Variables -------------------------------------- */
:root {
    --color-aqua: #00c0ef;
    --color-green: #00a65a;
    --color-yellow: #f39c12;
    --color-red: #dd4b39;
}
/* -----------------  Text Classes ------------------------------------------ */
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-white { color: white; }
.text-gray50 { color: #808080;m}
.text-gray-20 { color: rgba(192, 192, 192, 20%);}
.text-aqua-20 { color: rgba(0, 192, 239, 20%);}
.text-green-20 { color: rgba(0, 166, 90, 20%);}
.text-yellow-20 { color: rgba(243, 156, 18, 20%);}
.text-red-20 { color: rgba(221, 75, 57, 20%);}
.no-border { border: none;}
/* -----------------  Main Sections ----------------------------------------- */
.content-header { padding-top: 5px; }
.content-header>.breadcrumb { background: transparent; }
.content { padding-bottom: 0px; }
.box-body { padding-top: 0px; padding-bottom: 0px; }
.main-footer { padding: 5px; color: gray; }
/* -----------------  Customized Main Menu ---------------------------------- */
.main-header .logo { width: 210px;}
.main-header>.navbar { margin-left: 210px; }
.main-sidebar, .left-side { width: 210px; }
.content-wrapper, .right-side, .main-footer { margin-left: 210px; }

@media (max-width: 767px) {
    .main-header .logo {
        width: 100%;
    }

    .main-header .navbar {
        margin: 0;
    }

    .content-wrapper,
    .main-footer {
        margin-left: 0px;
    }
}

@media (max-width: 991px) {
.navbar-custom-menu > .navbar-nav > li > .dropdown-menu { right: 0px;}
}

.sidebar-open .content-wrapper,
.sidebar-open .main-footer {
/*     -webkit-transform: translate(150px, 0);
    -ms-transform: translate(150px, 0);
    -o-transform: translate(150px, 0);
    transform: translate(150px, 0) */
    -webkit-transform: translate(210px, 0);
    -ms-transform: translate(210px, 0);
    -o-transform: translate(210px, 0);
    transform: translate(210px, 0)
}
.skin-yellow-light .sidebar-menu>li>a:hover {
    background: #f0f0f0;
    border-left-color: rgb(243, 156, 18);
}
.skin-yellow-light .sidebar-menu>li.active>a {
    background: #e0e0e0;
    border-left-color: rgb(243, 156, 18);
}
/* ----------------- Customized Boxes --------------------------------------- */
.box-transparent {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}
.pa-small-box-2 .inner h3 {
    margin-left: 0em;
    margin-bottom: 1.3em;
}
.pa-small-box-footer {
    color: white !important;
    font-size: 18px;
}
/* -------------------------------------------------------------------------- */
.pa-small-box-aqua {
    /* border-top: 3px solid #00c0ef; */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.pa-small-box-aqua .inner {
    color: #00c0ef;
    background-color: #FFFFFF;
}
.pa-small-box-aqua .inner h3 {
    margin-left: 0.5em;
}
.pa-small-box-aqua .icon {
    color: #00c0ef;
}
/* -------------------------------------------------------------------------- */
.pa-small-box-green {
    /* border-top: 3px solid #00a65a; */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.pa-small-box-green .inner {
    color: #00a65a;
    background-color: #FFFFFF;
}
.pa-small-box-green .inner h3 {
    margin-left: 0.5em;
}
.pa-small-box-green .icon {
    color: #00a65a;
}
/* -------------------------------------------------------------------------- */
.pa-small-box-yellow {
    /* border-top: 3px solid #f39c12; */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.pa-small-box-yellow .inner {
    color: #f39c12;
    background-color: #FFFFFF;
}
.pa-small-box-yellow .inner h3 {
    margin-left: 0.5em;
}
.pa-small-box-yellow .icon {
    color: #f39c12;
}
/* -------------------------------------------------------------------------- */
.pa-small-box-red {
    /* border-top: 3px solid #dd4b39; */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.pa-small-box-red .inner {
    color: #dd4b39;
    background-color: #FFFFFF;
}
.pa-small-box-red .inner h3 {
    margin-left: 0.5em;
}
.pa-small-box-red .icon {
    color: #dd4b39;
}
/* -------------------------------------------------------------------------- */
.pa-small-box-gray {
    /* border-top: 3px solid #a0a0a0; */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.pa-small-box-gray .inner {
    color: #a0a0a0;
    background-color: #FFFFFF;
}
.pa-small-box-gray .inner h3 {
    margin-left: 0.5em;
}
.pa-small-box-gray .icon {
    color: #a0a0a0;
}
/* ----------------- Customized Box Borders --------------------------------- */
/* .box.box-aqua {
    border-top-color: #00c0ef;
}

.box.box-green {
    border-top-color: #00a65a;
}

.box.box-yellow {
    border-top-color: #f39c12;
}

.box.box-red {
    border-top-color: #dd4b39;
} */

/* ----------------- Custom Border ------------------------------------------ */
.bottom-border-aqua {
    border-bottom-color: #00c0ef;
    border-bottom-style: solid;
    border-bottom-width: 3px
}
.bottom-border-primary {
    border-bottom-color: #3c8dbc;
    border-bottom-style: solid;
    border-bottom-width: 3px
}
/* ----------------- Customized Tabs ---------------------------------------- */
.nav-tabs-custom {
    background: transparent;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 10px;
}
/* ----------------- Customized Menu dropdown ------------------------------- */
.dropdown-menu {
    max-height: 350px;
    overflow-x: hidden;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
}
/* ----------------- Default Table config ----------------------------------- */
.table>tbody>tr>td {
    padding: 4px;
}
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #FFFFD0;
}
.dataTables_info,
.dataTables_paginate,
.dataTables_length,
.dataTables_filter {
    color: #B0B0B0;
}
/* ----------------- Customized buttons ------------------------------------- */
.pa-btn {
    padding: 10px;
    min-width: 90px;
}
.pa-btn-delete {
    border-color: #ffb060;
    background-color: #ffd080;
}
.pa-btn-delete:hover {
    border-color: #ffb060;
    background-color: #ffb060;
}
.pa-btn-records,
.pa-btn-records:hover,
.pa-btn-records:focus,
.pa-btn-records:active {
    border-color: #ddd;
    background-color: #f4f4f4;
    cursor: default;
}
/* ----------------- Customized Full Calendar ------------------------------- */
.fc h2 {
    font-size: 20px;
}
.fc-weekend {
    background-color: #FFF0E0;
}
.fc-normaldays {
    background-color: #FF0000;
}
.fc-sat {
    background-color: #FFF0E0;
}
.fc-sun {
    background-color: #FFF0E0;
}
.fc-resized-row {
    height: 26px !important;
}
.fc-transparent-border {
    border-Color: transparent !important;
}
.tooltip-inner {
    background-color: #606060;
    color: White;
}
.tooltip.right .tooltip-arrow {
    border-right: 5px solid #606060;
}
/* ----------------- Spin --------------------------------------------------- */
.pa_semitransparent-panel {
    position: absolute;
    width: 100%; //calc (100% -40px);
    height: 100%;
    left: 0;
    top: 0;
    display: block;

    opacity: 0.8;
    background-color: #fff;
    z-index: 99;
}
.pa_spinner {
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 200px;

    background-color: #fff;
    z-index: 100;
}
/* ----------------- Notification float banner ------------------------------ */
.pa_alert_notification {
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: #258744;

    background-color: #d4edda;
    border-color: #c3e6cb;
    border-radius: 5px;

    max-width: 1000px;
    /* 80% wrapper 1250px */
    width: 80%;
    z-index: 9999;

    position: fixed;
    top: 30px;
    margin: auto;
    transform: translate(0, 0);

    display: none;
}

.table_settings { border-spacing: 0em; font-weight: 400; font-size: 15px; width: 100%; margin: auto; }
.table_settings_row { padding: 3px;}
.table_settings_cell { padding: 3px; padding-left: 10px;}
.table_settings_cell_a { text-align: justify; font-size: 16px; vertical-align: top; padding: 10px; }
.table_settings_cell_b { text-align: justify; font-size: 16px; vertical-align: middle; padding: 10px; }

.settings_button_wrapper { display: inline-flex; margin: 15px auto;}
.settings_button_box { display: inline-block; margin-left: 10px; margin-right: 10px;}

.ajax_scripts_loading {
    background-image: url('../img/Loading_Animation.gif');
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
}
.nav-tabs-custom .tab-content {
  background-color: white;
}
.top_small_box_gray_text {
  color: white !important;
}
.bg-gray {
    background-color: #b2b6be !important;
}
.infobox_label {
    font-size: 16px !important;
}
.help_faq_code {
    font-weight: bold; margin-top: 10px; margin-bottom: 1px;
}
body.modal-open {
    overflow: hidden;
    position:fixed;
    width: 100%;
}

.skin-blue .systemstatusbox, 
.skin-red .systemstatusbox, 
.skin-black .systemstatusbox,
.skin-green .systemstatusbox,
.skin-purple .systemstatusbox,
.skin-yellow .systemstatusbox {
  color: #fff;
}

.skin-blue-light .systemstatusbox, 
.skin-red-light .systemstatusbox, 
.skin-black-light .systemstatusbox, 
.skin-green-light .systemstatusbox, 
.skin-purple-light .systemstatusbox, 
.skin-yellow-light .systemstatusbox {
  color: #000;
}

.text-green-light { color: #5ca314 !important;}
.text-green { color: #00aa60 !important;}
.text-orange { color: #b1720c !important;}
.text-red { color: #bd2c19 !important;}
.text-vivid-blue { color: #007997 !important;}
.loader { border: 5px solid #f3f3f3; border-top: 5px solid #3498db; border-radius: 50%; width: 25px; height: 25px; animation: spin 2s linear infinite; margin-left: 55px; margin-top: 0px;}
.disablespinner { display: none;}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.spinnerOverlay { background-color: rgba(0, 0, 0, 0.6);}
.table_settings_col_box { padding-top:6px; display: inline-block; margin: 5px 10px; padding-left: 10px; padding-right: 10px; border: 1px solid #aaa; padding-bottom: 2px;}
.table_settings_col_box_check { position: relative; margin-top:-3px; margin-right: 5px;}
.tooltip-inner { background-color: #000; box-shadow: 0px 0px 4px black; opacity: 0.85 !important;}
.fa-gradient-green {
    background: -webkit-gradient(linear, left top, left bottom, from(#AEFF01), to(#01A000));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-gradient-red {
    background: -webkit-gradient(linear, left top, left bottom, from(#ff6c38), to(#c40000));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg-orange-custom { background-color: #FE4C00 !important; color:  #444;}
.text-orange-custom { color: #FE4C00 !important;}
#custom-menu-report-button { background-color: #d58512; color: #FFF; width: 190px;}
#custom-menu-default-button { color: #000; width: 190px;}
.custom-menu-button-text {display: inline-block; width: 140px; text-align: left;}
.custom-menu-button-icon {width: 15px; margin-right: 10px;}
.custom-menu-icon-links {display: inline-block; width: 30%; text-align: center;}

/* ----------------- Header ------------------------------------------------- */
#custom-menu-logout-button {background-color: #d73925; color: #FFF;}
#navbar-reload-button {position: relative; left:0px; width: 42px; height: 50px; display: inline-block; padding-top: 15px; text-align: center;}
#navbar-reload-button:hover {background-color: rgba(0, 0, 0, 0.1);}
#navbar-back-button {position: relative; left:0px; width: 42px; height: 50px; display: inline-block; padding-top: 15px; text-align: center;}
#navbar-back-button:hover {background-color: rgba(0, 0, 0, 0.1);}
/* ----------------- System Info -------------------------------------------- */
.user-panel {padding-left: 0px;}
.sysinfo_headline {color: #00c0ef;}
.sysinfo_gerneral_a {font-weight: bold; padding-top: 2px; padding-bottom: 2px;}
.sysinfo_gerneral_b {padding-left: 30px; padding-top: 2px; padding-bottom: 2px;}
.sysinfo_storage_a {font-weight: bold; padding-top: 2px; padding-bottom: 2px;}
.sysinfo_storage_b {padding-left: 30px; white-space: nowrap; padding-top: 2px; padding-bottom: 2px;}
.sysinfo_network_a { font-weight: bold; white-space: nowrap; padding-top: 2px; padding-bottom: 2px;}
.sysinfo_network_b {padding-left: 30px; white-space: nowrap; padding-top: 2px; padding-bottom: 2px;}
.sysinfo_network_value {display: inline-block; width: 120px; text-align: right;}
.sysinfo_usbdev_a {font-weight: bold; white-space: nowrap; padding-top: 2px; padding-bottom: 2px;}
.sysinfo_usbdev_b {padding-left: 30px;  padding-top: 2px; padding-bottom: 2px;}
/* ----------------- Maintenance -------------------------------------------- */
.dbtools-button { display: inline-block; width: 160px; height: 73px; white-space: normal; word-wrap: break-word; font-size: 16px; padding: 4px;}
.db_info_table_cell:nth-child(1) { background: white }
.db_info_table_cell:nth-child(2) { background: white }
.db_tools_table_cell_a:nth-child(1) { background: white }
.db_tools_table_cell_a:nth-child(2) { background: white }
.db_tools_table_cell_b:nth-child(1) { background: white }
.db_tools_table_cell_b:nth-child(2) { background: white }
.db_info_table { display: table; border-spacing: 0em; font-weight: 400; font-size: 15px; width: 100%; margin: auto;}
.db_info_table_row { display: table-row; padding: 3px; }
.db_info_table_cell { display: table-cell; padding: 3px; padding-left: 10px;}
.db_tools_table_cell_a { display: table-cell; text-align: center; padding: 10px; min-width: 180px; width: 20%; vertical-align: top;}
.db_tools_table_cell_b { display: table-cell; text-align: justify; font-size: 16px; vertical-align: middle; padding: 10px;}
.main_logviwer_text_layout {text-align: left;}
.main_logviwer_log {border: none; overflow-y: scroll; white-space: nowrap;}
.main_logviwer_buttonbox {text-align: center; padding-top: 5px; padding-bottom: 5px;}
.main_logviwer_button_m {margin: 5px;}
#updatecheck {text-align: center; padding-top: 5px; padding-bottom: 5px; height: 45px;}
#configeditor {text-align: center; padding-top: 5px; padding-bottom: 5px; height: 45px;}
.configeditor_help {text-align: left; margin-top: 10px;}
/* ----------------- Services ----------------------------------------------- */
.servicelist_entry {display: flex; width: 100%; margin-bottom: 5px; margin-top: 5px;}
.servicebox_httpstat_hover {display: flex; width: 70px; height: 70px;}
.servicebox_box {width: 70px; height: 70px; text-align: center;}
.servicebox_box_prot {font-size:18px;}
.servicebox_box_code {font-size:24px;}
.servicebox_text {display: inline-block; width: 100%;}
.servicebox_text_m {margin: 0px 15px;}
.servicebox_text_tag {font-weight: bolder; font-size:16px;}
.progress-segment {display: flex; margin-bottom: 5px; margin-top: 10px;}
.single_scan {width: 100%; background-color: lightgray; margin-right: 2px; height: 12px;
  &:first-child {border-top-left-radius: 3px; border-bottom-left-radius: 3px;}
  &:last-child {border-top-right-radius: 3px; border-bottom-right-radius: 3px;}
}
.orange-common {background-color: #f04500 !important;}
.single_scan:hover:after {position: absolute; display: flex; content: attr(title); left: 0px; top: 0px; padding: 5px; padding-top: 8px; background-color: #913225; font-size: 16px; color: white; width: 100%; height: 38px;}
.single_scan:hover {background-color: #aaa !important;}
.servicelist_add_serv {display: inline-block; margin-top: -5px; margin-left: 15px;}
.servicedet_button_space {margin-left:6px; margin-top:6px;}
/* ----------------- Help FAQ ----------------------------------------------- */
.httpstatus_table_code {font-weight: 600; text-align: center; vertical-align: top}
.httpstatus_table_text {padding-left: 15px;}
.help_table_gen { margin-top: 20px; width:100%; border: solid 1px #aaa; border-collapse: collapse;}
.help_table_gen_section {font-weight: 600; text-align: center; border: solid 1px #aaa; text-transform: uppercase; padding-top: 3px; padding-bottom: 3px;}
.help_table_gen_a {vertical-align: top; padding-left:5px; padding-right:5px; border: solid 1px #aaa; padding-top: 5px; padding-bottom: 5px;}
.help_table_gen_b {padding-left:5px; border: solid 1px #aaa; padding-top: 5px; padding-bottom: 5px;}
.help_question {font-size: 16px;}
/* ----------------- Bulk Editor -------------------------------------------- */
.bulked_checkbox_label_alldown {
 background-image:linear-gradient(90deg,#5196d5,#dd7768);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.bulked_checkbox_label_all { color: #5196d5; }
.bulked_checkbox_label_down { color: #dd7768; }
.fixed_container { overflow:visible visible; }
/* ----------------- Services ----------------------------------------------- */
.icmplist_add_ip {display: inline-block; margin-top: -5px; margin-left: 15px;}
/* ----------------- Network ------------------------------------------------ */
.network_tab_icon {font-size: 16px; position: relative;}
.flip-horizontal { transform: scaleX(-1); display: inline-block;}
/* ----------------- Network ------------------------------------------------ */
